[format]
max-line-length = 88

[MASTER]
disable=
    C0114, # missing-module-docstring
    C0115, # missing-class-docstring
    C0116, # missing-function-docstring

[MESSAGES CONTROL]
disable=
  missing-module-docstring,
  missing-function-docstring,
  fixme,
  invalid-name, # I like camelCase and/or Hungarian notation
  duplicate-code  # the nature of this project
